.embed-container iframe, .embed-container object, .embed-container embed-responsive-item{ 
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}


.embed-container-list { 
    position: relative; 
    padding-bottom: 20%; 
    padding-top: 20px;
    overflow: hidden;
    width: auto; 
    height: auto;
}   

.embed-container-list iframe, .embed-container-list object, .embed-container-list embed{ 
    position: absolute; 
    margin-left: 10px;
    max-width: 500px;
    max-height: 600px;
}